.home-parent{
    background-image: url(https://img.freepik.com/premium-photo/top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}