.App{
    background-color: #191627;
    /* background-image: linear-gradient(to bottom, #2c2b33, #3f3f51, #525571, #646c92, #7485b6, #7283b5, #6f81b3, #6d7fb2, #59628c, #444668, #2e2d46, #191627); */
}
.bg-aqua{
    /* background-color: #4F46E5;  
    background-color: #312E81; */
    background-color: #3730A3;

}